.todo-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.todo-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--clr1bg); */
    /* background-color: bisque; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
